/** @section Offsets */


// Insets
// -------------------------

$insets: (0, 10px, 15px, 20px, 30px, 40px, 50px, 60px, 70px, 85px, 100px);

@include indent-responsive(inset, left, padding-left, $grid-breakpoints, $insets);
@include indent-responsive(inset, right, padding-right, $grid-breakpoints, $insets);


// Elements
// -------------------------
* + .row { margin-top: 60px * $xs-multiplier; }
* + .row-xs { margin-top: 20px; }
* + .row-sm { margin-top: 40px * $xs-multiplier; }
* + .row-lg { margin-top: 105px * $xs-multiplier; }
* + .container { margin-top: 40px; }

* + h1,
* + .h1 {
	margin-top: 10px;
}

* + h2,
* + .h2 {
	margin-top: 15px;
}

* + h3,
* + .h3 {
	margin-top: 20px;

	@include media-breakpoint-up(md) {
		margin-top: 27px;
	}

	@include media-breakpoint-up(lg) {
		margin-top: 34px;
	}
}

* + h4,
* + .h4 {
	margin-top: 25px;
}

* + h5,
* + .h5 {
	margin-top: 17px;
}

* + h6,
* + .h6 {
	margin-top: 15px;
}

h1 + *, .h1 + *,
h2 + *, .h2 + * {
  margin-top: 38px * $xs-multiplier;
}

h2 + h3,
h2 + .h3 {
	margin-top: 0;
}

h3 + .rd-mailform {
	margin-top: 30px;
}

h3 + p,
.h3 + p {
	margin-top: 22px * $xs-multiplier;
}

h3 + *,
.h3 + * {
	margin-top: 30px;
}

h4 + *,
.h4 + * {
	margin-top: 20px;
}

h5 + *,
.h5 + * {
	margin-top: 14px;
}

h6 + *,
.h6 + * {
	margin-top: 14px;
}

* + p,
* + .p {
	margin-top: 14px;
}

hr + * {
	margin-top: 18px;
	@include media-breakpoint-up(xl) {
		margin-top: 26px;
	}
}

p + .object-inline {
	margin-top: 22px;
}

p + .form-inline {
	margin-top: 15px;
}

p + p { margin-top: 27px * $xs-multiplier; }
p + .unit { margin-top: 40px * $xs-multiplier; }

* + .big {
	margin-top: 6px;
}

* + .text-large {
	// margin-top: 10px;
}

* + .text-bigger {
	margin-top: 28px;
}

* + .btn { margin-top: 60px * $xs-multiplier; }
ul + .btn { margin-top: 45px * $xs-multiplier; }
* + .group-btn { margin-top: 60px * $xs-multiplier; }

* + .link {
	margin-top: 18px;
}

* + .contact-info { margin-top: 45px; }
.contact-info + * { margin-top: 16px; }

* + .list-inline {
	margin-top: 50px;
}

* + .list-terms {
	margin-top: 42px;

	@include media-breakpoint-up(xl) {
		margin-top: 62px;
	}
}

* + .list-marked,
* + .list-ordered {
	margin-top: 22px;
}

* + .link-wrap {
	margin-top: 8px;
}

* + .link-iconed {
	margin-top: 2px;
}

* + .box-text { margin-top: 40px; }
* + .block-centered { margin-top: 30px; }

[class*='inset'] + [class*='inset'] {
  margin-top: 40px;
}

* + .group-inline { margin-top: 15px; }
* + .group-md { margin-top: 22px; }
* + .group-lg { margin-top: 30px; }
* + .text-large { margin-top: 22px; }
* + .big { margin-top: 22px; }


// Medium ≥768px
@include media-breakpoint-up(md) {
  * + .block-centered { margin-top: 60px; }
}

* + .group-xl {
  margin-top: 40px; 
  
  @include media-breakpoint-up(md) {
    margin-top: 60px; 
  }
  
  @include media-breakpoint-up(xxl) {
    margin-top: 120px;
  } 
}

* + .group-xl-responsive {
  margin-top: 40px;
  
  // Medium ≥768px
  @include media-breakpoint-up(md) {
    margin-top: 45px; 
  }
}

* + .offset-top-0 { margin-top: 0; }
* + .offset-top-50 { margin-top: 50px; }

* + .offset-top-1 { 
  margin-top: 40px;

  @include media-breakpoint-up(md) {
    margin-top: 60px;
  }
}
* + .offset-top-2 { margin-top: 15px; }

* + .offset-top-3 { 
  margin-top: 35px;
  // Medium ≥768px
  @include media-breakpoint-up(md) {
    margin-top: 50px; 
  }
} 

* + .offset-top-4 { margin-top: 40px; }

* + .offset-top-5 { margin-top: 30px * $xs-multiplier; }

* + .offset-top-6 { 
  margin-top: 40px; 
  
  // Extra large ≥1200px
  @include media-breakpoint-up(xl) {
    margin-top: 90px; 
  } 
}
* + .offset-top-7 { 
  margin-top: 22px;
  // Medium ≥768px
  @include media-breakpoint-up(md) {
    margin-top: 40px; 
  }
}

* + .rd-mailform { margin-top: 40px; }
* + .btn-xl { margin-top: 35px; }
* + .offset-top-8 { margin-top: 75px * $xs-multiplier; }


// Extra large ≥1200px
@include media-breakpoint-up(xl) {
  * + .btn-xl { margin-top: 45px; }
} 

//
// Grid
//
.row-10 {
  @include grid-offset(10px);
}

.row-15 {
  @include grid-offset(15px);
}

.row-20 {
  @include grid-offset(20px);
}

.row-30 {
  @include grid-offset(30px);
}

.row-40 { 
  @include grid-offset(40px);
}

.row-50 {
  @include grid-offset(50px);
}

.row-60 {
  @include grid-offset(60px);
}

// Medium ≥576px
@include media-breakpoint-up(sm) {
  .row-sm-50 {
    @include grid-offset(50px);
  }
}

// Medium ≥768px
@include media-breakpoint-up(md) {
  .row-md-40 {
    @include grid-offset(40px);
  } 
  
  .row-md-60 {
    @include grid-offset(60px);
  } 
}

// >= 1200px
@include media-breakpoint-up(xl) {
  .row-xl-60 {
    @include grid-offset(60px);
  }
}

// Large ≥992px
@include media-breakpoint-up(lg) {
  * + .row { margin-top: 60px * $lg-multiplier; }
  * + .row-xs { margin-top: 20px; }
  * + .row-sm { margin-top: 40px * $lg-multiplier; }
  * + .row-lg { margin-top: 105px * $lg-multiplier; }
  * + .btn { margin-top: 60px * $lg-multiplier; }
  ul + .btn { margin-top: 45px * $lg-multiplier; }
  p + p { margin-top: 27px * $lg-multiplier; }
  p + .unit { margin-top: 40px * $lg-multiplier; }

  h1 + *, .h1 + *,
  h2 + *, .h2 + * { margin-top: 38px * $lg-multiplier; }

  h3 + p, .h3 + p {
    margin-top: 22px * $lg-multiplier;
  }

  * + .offset-top-5 { margin-top: 30px * $lg-multiplier; }
  * + .offset-top-8 { margin-top: 75px * $lg-multiplier; }
  * + .offset-lg-top-60 { margin-top: 60px; }

  .row-lg-60 {
    @include grid-offset(60px);
  }

  .row-lg-90 {
    @include grid-offset(90px);
  }
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
  * + .row { margin-top: 60px; }
  * + .row-xs { margin-top: 20px; }
  * + .row-sm { margin-top: 40px; }
  * + .row-lg { margin-top: 105px; }
  * + .btn { margin-top: 60px; }
  ul + .btn { margin-top: 45px; }
  p + p { margin-top: 27px; }
  p + .unit { margin-top: 40px; }

  h1 + *, .h1 + *,
  h2 + *, .h2 + * { margin-top: 38px; }

  h3 + p,
  .h3 + p { margin-top: 22px; }

  * + .offset-xl-top-55 { margin-top: 55px; }
  * + .offset-xl-top-60 { margin-top: 60px; }
  * + .offset-xl-top-80 { margin-top: 80px; }
  * + .offset-top-5 { margin-top: 30px; }
  * + .offset-top-8 { margin-top: 75px; }

  .row-xl-60 {
    @include grid-offset(60px);
  } 
} 


.shift-md-top-1 {
  @include media-breakpoint-up(lg) {
    margin-top: -33px;
  }

  @include media-breakpoint-up(xl) {
    margin-top: -43px;
  }
}


@include media-breakpoint-up(lg) {
  * + .group-btn { margin-top: 60px * $lg-multiplier; }
}

@include media-breakpoint-up(xl) {
  * + .group-btn { margin-top: 60px; }
}
